.dialog{
    background-color: #4D191F;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 30px 22px;
}
.button{
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 6px;
    border: none;
    background-color: #fae7e7;
    font-weight: 600;
    margin-top: 15px;
    transition: background-color 0.2s ease;
}
.button:hover{
    cursor: pointer;
    background-color: white;
}