.container{
  width: 550px;
  margin-top: 64px;  
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 16px 0;
}
.cancelBtn{
    padding: 6px 12px;
    text-align: center;
    border-radius: 6px;
    border: none;
    background-color: #e8e8e8;
    color: #3a3a3a;
}
.cancelBtn:hover{
    color: #000000;
    cursor: pointer;
}
.saveBtn{
    padding: 6px 12px;
    text-align: center;
    background-color: #2B4D4F;
    color: white;
    border: none;
    border-radius: 6px;
    margin: 8px 24px;
}
.saveBtn:hover{
    cursor: pointer;
    text-decoration: underline;
}