.aside{
    width: 33%;
    max-width: 300px;
    padding: 60px 30px;
    background-color: #0E1F2F;
    color: rgb(235, 235, 235);
    border-top-right-radius: 16px;
}
.heading{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
}
.button{
    padding: 8px 16px;
    color: rgb(217, 217, 217);
    font-size: 15px;
    border-radius: 6px;
    border: none;
    background-color: #325A5D;
    transition: background-color 0.25s ease;
}
.button:hover{
    background-color: #244042;
    cursor: pointer;
    color: white;
}
.projectsContainer{
    padding: 0;
    margin-top: 32px;
}
.projectsButton{
    width: 90%;
    text-align: left;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 6px 0;
    color: rgb(215, 215, 215);
    background-color: #122538;
    border: none;
    font-size: 16px;
}
.projectsButton:hover{
    background-color: #1b344e;
    cursor: pointer;
    color: white;
}
.selectedProject{
    background-color: #1b344e;
    color: white;
    width: 90%;
    text-align: left;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 6px 0;
    border: none;
    font-size: 16px;
}