.heading{
  font-size: 24px;
  font-weight: 600;
  color: rgb(63, 63, 63);  
}
.paragraph{
    color: rgb(50, 50, 50);
    margin-bottom: 16px;
}
.tasksContainer{
   padding: 16px 16px 12px 0;
   margin-top: 32px;
}
.deleteBtn{
  border: none;
  background-color: transparent;
  color: rgb(66, 66, 66);
}
.deleteBtn:hover{
  cursor: pointer;
  color: red;
}
.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 8px 14px;
  border-radius: 8px;
  background-color: #BDDADB;
}