body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}
li{
    list-style: none;
}

.main{
    height: 100vh;
    margin: 32px 0;
    display: flex;
    gap: 30px;
}